<div class="container mt-4">
  <div class="row">
    <div class="text-right col-md-12">
      <button class="btn btn-light btn-add-user" type="button">Add User</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div class="card shadow mb-4">
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col">S. No.</th>
              <th scope="col">User ID</th>
              <th scope="col">User Name</th>
              <th scope="col">Points</th>
              <th scope="col">Company Name</th>
              <th scope="col">Accuracy</th>
              <th scope="col">Points</th>
              <th scope="col">Points</th>
              <th scope="col">Points</th>
              <th scope="col">Points</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr *ngfor="let user of users">
              <td>1</td>
              <td>{{user.userimage}}</td>
              <td>{{user.userid}}</td>
              <td>{{user.points}}</td>
              <td>{{user.updatedAt}}</td>
              <td>{{user.createdAt}}</td>
              <td>{{user.usercompanyid}}</td>
              <td>{{user.usercompanyname}}</td>
              <td>{{user.username}}</td>
              <td>{{user.userisenabled}}</td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

