<div class="container mt-4">
  <div class="row">
    <div class="text-right col-md-12">
      <button class="btn btn-light btn-add-questions" type="button">Add Questions</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div class="card shadow mb-4">
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th>Category</th>
              <th>Sub Categoryname</th>
              <th>Difficulty Level</th>
              <th>Enabled</th>
              <th>Creation Data</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let question of questions">
              <td>{{question.category}}</td>
              <td>{{question.category}}</td>
              <td>{{question.category}}</td>
              <td>{{question.category}}</td>
              <td>{{question.category}}</td>
              <td>
                <button class="btn btn-edit-categogy">Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

