<div class="container mt-4">
  <div class="row">
    <div class="text-right col-md-12">
      <button class="btn btn-light btn-add-questions" type="button" (click)="lgModal.show()">Add Questions</button>
    </div>
  </div>

  <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
      role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="dialog-sizes-name1" class="modal-title pull-left">Add Questions</h4>
          <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="box">
            <div class="box-body">

              <form class="question-update" method="post" action="" autocomplete="off">


                <div class="row mt-20">
                  <div class="col-xs-12 text-right">
                    <button class="btn btn-success btn-sm">Submit</button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xl-12">
      <div class="card shadow mb-4">
        <table class="table table-hover table-responsive">
          <thead class="thead-light">
            <tr>
              <th>S.N.</th>
              <th style="min-width: 150px;">Category</th>
              <th style="min-width: 175px;">Subcategory Name</th>
              <th>Questions</th>
              <th>Level</th>
              <th>Answer</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let questionData of questions">
              <tr *ngFor="let question of questionData.questions">
                <td>1</td>
                <td>{{question.category}}</td>
                <td>{{question.subcategory}}</td>
                <td>{{question.text}}</td>
                <td>{{question.difficulty}}</td>
                <td>{{question.correctchoices}}</td>
                <td><button class="btn btn-default btn-sm"><i class="fa fa-pencil"></i></button></td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <div class="text-right">
        <pagination [totalItems]="30"></pagination>
      </div>
    </div>
  </div>
</div>

