<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="text-right">
        <button class="btn btn-light btn-add-company" type="button">Add Company</button>
      </div>
      <div class="card shadow mb-4">
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col">Company ID</th>
              <th scope="col">Company Name</th>
              <th scope="col">No. of Users</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let post of posts">
              <th scope="row">{{post.id}}</th>
              <td>Dignitas Digital Pvt. Ltd.<!--{{post.title}}--></td>
              <td>1250<!--{{post.body}}--></td>
              <td>Active<!--{{post.status}}--></td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-light"><i class="fa fa-eye"></i></button>
                  <button type="button" class="btn btn-light"><i class="fa fa-pencil"></i></button>
                  <button type="button" class="btn btn-light"><i class="fa fa-users"></i></button>
                  <button type="button" class="btn btn-light"><i class="fa fa-usd"></i></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

