<div class="container mt-4">
  <div class="row">
    <div class="text-right col-md-12">
      <button class="btn btn-light btn-add-categogy" type="button">Add Sub Categories</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div class="card shadow mb-4">
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th>S. No.</th>
              <th>Category</th>
              <th>Sub Categoryname</th>
              <th>Level</th>
              <th>Creation Data</th>
              <th>Enabled</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
           <ng-container *ngFor="let categoryData of categories">
              <tr *ngFor="let category of categoryData.subcategories">
                <td>1</td>
                <td>{{categoryData.categoryname}}</td>
                <td>{{category.subcategoryname}}</td>
                <td>{{categoryData.difficultylevel}}</td>
                <td>{{category.creationdata}}</td>
                <td>{{category.isEnabled}}</td>
                <td><button class="btn btn-default btn-sm"><i class="fa fa-pencil"></i></button></td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

