<div class="container mt-4">
  <div class="row">
    <div class="text-right col-md-12">
      <button class="btn btn-light btn-add-categogy" type="button">Add Sub Categories</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div class="card shadow mb-4">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Category</th>
              <th>Sub Categoryname</th>
              <th>Difficulty Level</th>
              <th>Enabled</th>
              <th>Creation Data</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of categories">
              <td>{{category.categoryname}}</td>
              <td>{{category.subcategoryname}}</td>
              <td>{{category.difficultylevel}}</td>
              <td>{{category.isEnabled}}</td>
              <td>{{category.creationdata}}</td>
              <td>
                <button class="btn btn-edit-categogy" mat-raised-button mat-button-sm>Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

