<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><i class="fa fa-bars"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <span class="nav-link" href="#">Dashboard</span>
      </li>
    </ul>
    <form class="navbar-nav form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <input type="text" placeholder="From" class="form-control" #datepickerFrom="bsDatepicker" bsDatepicker [bsConfig]="{ isAnimated: true, showWeekNumbers: false }">
      <button class="btn btn-default mr-sm-2" (click)="datepickerFrom.toggle()" [attr.aria-expanded]="datepickerFrom.isOpen" type="button">
        <i class="fa fa-calendar"></i>
      </button>
      <input type="text" placeholder="To" class="form-control" #datepickerTO="bsDatepicker" bsDatepicker [bsConfig]="{ isAnimated: true, showWeekNumbers: false }">
      <button class="btn btn-default mr-sm-2" (click)="datepickerTO.toggle()" [attr.aria-expanded]="datepickerTO.isOpen" type="button">
        <i class="fa fa-calendar"></i>
      </button>
      <button class="btn btn-outline-default my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
