<div class="myqs-nav">
  <div class="sidenav-logo">
    <img src="assets/images/myq-logo-white.png" class="img-fluid"> <span>myQs Pro</span>
  </div>
  <div class="sidenav-pic">
    <div class="profile-icon">
      <amplify-s3-image [path]="user.imageUrl" [options]="{'level': 'private'}" *ngIf="showPhoto">
      </amplify-s3-image>
    </div>
    <div class="sidenav-name">
      <a class="nav-link" routerLink="profile"> Hello {{userName}}!</a>
    </div>
  </div>
  <div class="side-menu">
    <ul>
      <li><a class="nav-link active" routerLink="/dashboard" routerLinkActive="active">Dashborad</a></li>
      <li><a class="nav-link" routerLink="/companies" routerLinkActive="active">Companies</a></li>
      <li><a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a></li>
      <li><a class="nav-link" routerLink="/questions" routerLinkActive="active">Questions</a></li>
      <li><a class="nav-link" routerLink="/categories" routerLinkActive="active">Categories</a></li>
      <li><a class="nav-link" routerLink="/challenges" routerLinkActive="active">Challenges</a></li>
      <li><a class="nav-link" routerLink="/rewards" routerLinkActive="active">Rewards</a></li>
      <li><a class="nav-link" routerLink="/billing" routerLinkActive="active">Billing</a></li>
      <li><a class="nav-link" routerLink="/addmin-setting" routerLinkActive="active">Addmin Setting</a></li>
      <li><a class="nav-link" href="#" (click)="logOut()"> Logout <i class="fa fa-sign-out"></i></a></li>
    </ul>
  </div>
</div>
