<div class="myqs-nav">
  <div class="sidenav-logo">
    <img src="assets/images/myq-logo-white.png" class="img-fluid"> <span>myQs Pro</span>
  </div>
  <div class="sidenav-pic">
    <div class="profile-icon">
      <amplify-s3-image [path]="user.imageUrl" [options]="{'level': 'private'}" *ngIf="showPhoto">
      </amplify-s3-image>
    </div>
    <div class="sidenav-name">
      <a class="nav-link" href="#"> Hello {{userName}}!</a>
    </div>
  </div>
  <div class="side-menu">
    <ul>
      <li><a href="#">Dashborad</a></li>
      <li><a href="#">Companies</a></li>
      <li><a href="#">Users</a></li>
      <li><a href="#">Questions</a></li>
      <li><a href="#">Cotegories</a></li>
      <li><a href="#">Chanllenges</a></li>
      <li><a href="#">Rewards</a></li>
      <li><a href="#">Billing</a></li>
      <li><a href="#">Addmin Setting</a></li>
      <li><a href="#" (click)="logOut()"> Logout <i class="fa fa-sign-out"></i></a></li>
    </ul>
  </div>
</div>
